/* 언어설정 */

@charset 'UTF-8';

/* reset */
 * {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}


/*박스2-1과박스2-2의 가로정렬  */

.box2 ,.box3 {float: left;
                width: 50%;}
.boxA:after {content: "";
            display: block;
            clear: both;}

/* 박스4-1,박스4-2,박스4-3 의 가로정렬 */

.boxB {display: flex;}
.box5 {order: 2;
        width: 20%;}
.box6 {order: 1;
width: 60%;}
.box7 {
width: 20%;}





/* 두번째레이아웃설정 */

.boxC {float: left;
        width: 70%;}
.box15 {float: left;
width: 30%;}

.boxD:after {content: "";
        display: block;
        clear: both;}
