/* 언어설정 */

@charset 'UTF-8';

/* reset */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}

/* vid설정 */
.vid {width: 100%;
height: 100%;
position: fixed;
top: -250px;}
.vid video {width: 150%;
   
    min-width: 1600px;
}

.vid iframe {width: 100%;
height: 100%;}



    /* header설정 */
    header {width: 700px;
            height: 100%;
            position: fixed;
            background: linear-gradient(-45deg, #e6fc55,#b9fb05,#97e031);
        transform: skewX(-40deg);
    left: -420px;
top: 0;}


/*sns설정 */

.sns {position: fixed;
    width: 200px;
    height: 50px;
background-color: aqua;
right: 50px;
top: 50px;}


/* txtBox설정 */
.txtBox {width: 340px;
        height: 280px;
    position: fixed;
    background-color: beige;
    right: 0;
top: 50%;
    margin-top: -140px;}


    /* slide설정 */
    .slide {width: 800px;
        height: 100%;
        position: fixed;
    background-color: #111;
    opacity: 0.5;
    right:-800px;
    bottom: 0;
    transform: skewX(-40deg);
    transition: all 0.5s;
}
.slide:hover {right: -500px;}


.slide .con {width: 400px;
            height: 100%;
            background-color: #000;
            position: absolute;
        left:250px;
        bottom: 0;
    padding: 10px;
box-sizing: border-box;
transition: all 0.8s;}
.slide:hover .con {left: 50px;}

.slide .con p {position: absolute;
                width: 300px;
            height: 100px;
            left: 150px;
            }
.slide .con p:nth-child(1) {bottom: 270px;
                            transition: all 1.5s;}
.slide .con p:nth-child(2) {bottom:160px ;
                            transition: all 1.2s;}
.slide .con p:nth-child(3) {bottom: 50px;
                            transition: all 1.0s;}

.slide:hover .con p {left: 50px;}
.slide .con em {display: inline-block;
        font-size: 16px;
    font-weight: bold;
color: #a0bd50;
transform: skewX(40deg);}
.slide .con a {}
.slide .con a img {}





/* gnb설정 */

.gnb {position: absolute;
right: 0;
top: 150px;}
.gnb li {}
.gnb li a {display: block;
            width: 220px;
            height: 50px;
        font-size: 18px;
        font-weight: bold;
    color:#222;

text-align: right;
padding-right: 40px;
box-sizing: border-box;
margin-bottom: 5px;
display: flex;
align-items: center;
justify-content: flex-end;}
.gnb li em {
    transform: skewX(40deg);
    /* display: inline-block; 부모에 flex 선언으로인해 
    자동으노 inline-block이 진행됨 */
    /* transform은 block 성질에만 설정됨 */

}

.gnb>li:nth-child(1) a {background-color: #111;
    color: #fff;}

.gnb li a:hover {background-color: #111;
                color: #fff;}


/* 2뎁스설정 */
.gnb>li {position: relative;}
.gnb ul {position: absolute;
        left: 0;
    top: 0;
    transition: all 0.4s;
    opacity: 0;
}
.gnb ul li a {display: block;
            width: 150px;
            background-color: #222;
        color: #fff;
    border-bottom: 1px solid #b9fb05;
line-height: 2;
box-sizing: border-box;
height: 40px;}

.gnb ul li a em {
                display: inline-block;}

    .gnb>li:nth-child(1) ul {opacity: 0.8;
                            left: 205px;
                        top: -10px;}    

.gnb>li:hover ul {opacity: 0.8;
    left:205px}




    .slide .btn {position: absolute;
        bottom: 40px;
        left: 150px;
        color: #b9fb05;
        display: flex;
        width: 150px;
        height: 50px;
        transition: all 0.5s;
     

    }
    .slide .btn p{font-size: 80px;
                transform: skew(40deg);
            position: absolute;
        left: 0;top: 0;
        line-height: 0.3;
  }
    .slide .btn p:nth-child(1) {animation: ani linear 1.5s 0s infinite}
    .slide .btn p:nth-child(2) {animation: ani linear 1.5s 0.5s infinite}
    .slide .btn p:nth-child(3) {animation: ani linear 1.5s 1s infinite}

    /* 애니메이션설정 */
    /* 처음시작점과 마지막끝나는지점의 변화한모습
    을 제안하고 선택자의 속성값의 움직임값을 변화하여
    움직이게 하는 구성 */

    @keyframes ani {
        0% {left: 0;}
        100% {left: -100px;
        opacity: 0;
    font-size: 120px;
line-height: 0.1;}


    }


    .slide:hover .btn {left: -1500px;
    opacity: 0;}
