/* 언어설정 */


@charset 'UTF-8';

/* reset */
 * {margin: 0;
padding: 0;}
a {text-decoration: none;
    color: #000;}
ul,ol {list-style: none;}
img {border: none;
    vertical-align: bottom;}

/* 박스1설정 */
.box1 {display: flex;
justify-content: space-between;
background-color: antiquewhite;
align-items: flex-end;}
.box1-1 {width: 120px;
height: 80px;
display: flex;
justify-content: center;
align-items: center;}

.box1-2 {}
.box1-2 ul{display: flex;}
.box1-2 li {}
.box1-2 a {display: block;
    padding: 10px 20px}
    .box1-2 a:hover {background-color: aquamarine;}

/* 박스2설정 */
.box2 {text-align: center;
    font-size: 120px;
height: 60vh;
background-color: beige;}
/* 박스3설정 */
.box3 {
    background-color: bisque;
}
.box3-inner {text-align: center;}
.box3-inner p {text-align: center;
            padding: 40px 20px;}

/* 박스4설정 */
.box4 {height: 350px;}
.box4-inner {display: flex;
            width: 100%;
        height: 100%;}
.box4-inner>article {width: 50%;
                height: 100%;}
.box4-1 {position: relative;
    }
.box4-1 p {width: 300px;
    height: 300px;
background-color: burlywood;
position: absolute;
right: 0;
bottom: 25px;}

/* 박스5설정 */
.box5 {}
.box5-inner {display: flex;
            justify-content: space-between;}
.box5-inner>article {width: 30%;
background-color: aliceblue;}
.box5-inner p {width: 200px;
                height: 200px;
                background-color: burlywood;
            margin: 0 auto;
        text-align: center;}


/* 박스6설정 */

.box6{text-align: center;
background-color: antiquewhite;}
.box6 p {text-align: center;
            padding: 20px;
            padding: 40px 20px;}

/* 박스7설정 */

.box7{text-align: center;
    background-color: beige;}
.box7 p {text-align: center;
            padding: 20px;
            padding: 40px 20px;}    
            
/* 박스8설정 */
.box8 {}
.box8-inner {display: flex;
            justify-content: space-between;}
.box8-inner>div {width: 20%;
                padding:20px 0;
            text-align: center;}










/* 미디어쿼리구간############################### */
/* 1290px 이상일때 구간을 설정 */


@media(min-width:1290px){


    /* body 고정값 1280px로 고정 */
    .box3-inner , .box4-inner, .box5-inner ,.box8-inner {
        width: 1280px;
        margin: 0 auto;
    }


}