/* 언어설정 */
@charset 'UTF-8';

/* reset */
* {margin: 0;
padding: 0;}
a {text-decoration: none;
color: #000;}
ul,ol {list-style: none;}
img {border: none;
    vertical-align: bottom;}


    /* 박스1설정 */

    .box1-inner {display: flex;}
    .box1-inner>div:nth-child(1) {width: 60%;}
    .box1-inner>div:nth-child(2) {width: 40%;}



    /* 박스8설정 */
.box8-inner {
    width: 100%;
    height: 600px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
position: relative;
}
.box8-inner h2 {text-align: center;
            background-color: aqua;}

.box8-inner .container {width: 96%;
                    margin: 0 auto;
                    height: 500px;
                    background-color: blueviolet;
                overflow: hidden;
            position: relative;
        }
.box8-inner .container ul {display: flex;
flex-wrap: nowrap;
width: 300%;
height: 100%;
position: absolute;
left:-100%;
top: 0;
transition: all 0.8s;}
.box8-inner .container li {width: 100%;
                    height: 100%;
                background-color: antiquewhite;
            transform: scale(1);}

.box8-inner .container li:nth-child(2) {background-color: aquamarine;
transform: scale(1);}
.box8-inner .container ul:hover {left: -200%;}

.box8-inner p {position: absolute;
width: 50px;
height: 50px;
border: 1px solid #000;
top: 50%;
margin-top: -25px;
}

.box8-inner .left {left: 0;}
.box8-inner .right {right: 0;}


/* 박스9설정 */
.box9-inner {display: flex;}
.box9-inner>div:nth-child(1){width: 50%  ;}
.box9-inner>div:nth-child(2){width: 50%  ;}

/* 박스10설정 */
.box10-inner {display: flex;
        justify-content: space-between;
    flex-direction: column;}







    /*미디어쿼리구간 ##########################################*/


    /* 768px 이상구간설정 */
@media(min-width:768px){



    /* 박스1설정 */

.box1-inner {display: flex;}
.box1-inner>div:nth-child(1) {width: 50%;}
.box1-inner>div:nth-child(2) {width: 50%;}


/* 박스2설정 */
.box2-inner {display: flex;
align-items: flex-start;
position: relative;}
.box2-1{width: 50%;
   height: 600px;}
.box2-2{width: 50%;
height: 800px;}
.box2-3 {position: absolute;
        width: 50%;
        height: 200px;
        bottom: 0;
    left: 0;}


    /* 박스3설정 */

    /* 박스4설정 */
    .box4-inner ul {display: flex;}
    .box4-inner li {width: 33.3333%;}


    /* 박스5설정 */
    .box5-imgBox {display: flex;}
    .box5-imgBox>div {width: 33.3333%;}

    /* 박스6설정 */
    .box6-inner>div {display: flex;}
    .box6-inner>div>div {width: 50%;}


    .box6-inner>div:nth-child(2) {flex-direction: row-reverse;}


/* 박스7설정 */
/* 박스8설정 */
.box8-inner {
        width: 100%;
        height: 600px;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
    position: relative;
}
.box8-inner h2 {text-align: center;
                background-color: aqua;}

.box8-inner .container {width: 80%;
                        margin: 0 auto;
                        height: 500px;
                        background-color: blueviolet;
                    overflow: hidden;
                position: relative;
            }
.box8-inner .container ul {display: flex;
flex-wrap: nowrap;
width: 180%;
height: 100%;
position: absolute;
left:-40%;
top: 0;
transition: all 0.8s;}
.box8-inner .container li {width: 60%;
                        height: 100%;
                    background-color: antiquewhite;
                transform: scale(0.8);}

.box8-inner .container li:nth-child(2) {background-color: aquamarine;
    transform: scale(1);}
.box8-inner .container ul:hover {left: -60%;}

.box8-inner p {position: absolute;
    width: 50px;
height: 50px;
border: 1px solid #000;
top: 50%;
margin-top: -25px;
}

.box8-inner .left {left: 0;}
.box8-inner .right {right: 0;}



/* 박스9설정 */
.box9-inner {display: flex;}
.box9-inner>div:nth-child(1){width: 20%  ;}
.box9-inner>div:nth-child(2){width: 80%  ;}

/* 박스10설정 */
.box10-inner {display: flex;
        justify-content: space-between;
        flex-direction: row;}



}


    /* 1290px 이상구간설정 */
@media(min-width:1290px){

    .box1-inner,.box2-inner,.box3-inner,.box4-inner,.box5-inner,.box6-inner,.box7-inner,.box8-inner,.box9-inner,.box10-inner{

        width: 1280px;
        margin: 0 auto;
    }


}