<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007</title>

    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout007_1.css">

    <!-- 그리드가이드연결 
    <link rel="stylesheet" href="grid-guide.css">-->


    <!-- 제이쿼리CDN -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script>
        $(document).ready(function(){


            // top을 클릭했을때
            $('.top').click(function(){


                $('html,body').animate({'scrollTop':0},1800)
            })
        })
    </script>
</head>
<body>


    <div class="box1">
        <div class="box1-1">
            <div class="util">
                <ul>
                    <li><a href="#">logIn</a></li>
                    <li><a href="#">Language</a></li>
                    <li><a href="#">search</a></li>
                </ul>
            </div>
        </div>
        <div class="box1-2">
            <header class="header">
                <h1>logo</h1> 
                <span>&#8801;</span>
                <nav class="gnb">
                   
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                        <li><a href="#">menu6</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="box1-3">
            <div class="hero">
                <div class="title">Lorem ipsum dolor, sit amet consectetur</div>
                <div class="txtBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis temporibus ratione sunt, commodi expedita debitis explicabo accusamus suscipit asperiores perferendis in deleniti eius eaque iste. Porro deserunt quod temporibus est.</div>
                <p class="more">more</p>
            
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="box2-1">
            <strong>TXTBOX TITLE</strong>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
            <span class="ico">아이콘</span>
        </div>
        <div class="box2-2">
            <strong>TXTBOX TITLE</strong>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
            <span class="ico">아이콘</span>
        </div>
        <div class="box2-3">
            <strong>TXTBOX TITLE</strong>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
            <span class="ico">아이콘</span>
        </div>
        <div class="box2-4">
            <strong>TXTBOX TITLE</strong>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
            <span class="ico">아이콘</span>
        </div>
    </div>
    <div class="box3">
        <div class="inner3-1">
            <div class="box3-1">
                <div class="txtBox">
                    <strong>TXTBOX TITLE</strong>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
                    <span class="more">자세히보기</span>
                </div>
                <div class="imgBox">
                    <img src="https://picsum.photos/id/1/500/300" alt="">
                </div>
            </div>
        </div>
       <div class="inner3-2">
            <div class="box3-2">
                <div class="txtBox">
                    <strong>TXTBOX TITLE</strong>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
                    <span class="more">자세히보기</span>
                </div>
                <div class="imgBox">
                    <img src="https://picsum.photos/id/2/500/300" alt="">
                </div>
            </div>
       </div>
        <div class="inner3-3">
            <div class="box3-3">
                <div class="txtBox">
                    <strong>TXTBOX TITLE</strong>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti dolore at sit inventore. Inventore molestias iusto, corporis a et amet.</p>
                    <span class="more">자세히보기</span>
                </div>
                <div class="imgBox">
                    <img src="https://picsum.photos/id/3/500/300" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="box4">
        <div class="box4-1">
            <div class="map">
                <h3>contents Us</h3>
                <div class="mapBox">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213.360830208865!2d127.37569547553528!3d36.35203792237838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35654be0a6fa05d9%3A0xb0fb5aa41310d05b!2z6rCk65-s66as7JWE67Cx7ZmU7KCQIO2DgOyehOyblOuTnOygkA!5e0!3m2!1sko!2skr!4v1699412794882!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <ul>
                        <li>navigation1</li>
                        <li>navigation2</li>
                        <li>navigation3</li>
                    </ul>
                </div>
            </div>
            <div class="snsSet">
                <h3>SNS</h3>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagam</a></li>
                </ul>
            </div>
        </div>
        <div class="box4-2">
            <p>Copyright &copy; 2023. yuni. All rights reserved</p>
        </div>

        <div class="top">	&#9650;</div>
    </div>
    
</body>
</html>