<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃000</title>
    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout000.css">
    <!-- 그리드가이드연결 
    <link rel="stylesheet" href="grid-guide.css">-->
</head>
<body>
    <div class="box1">
        <div class="box1-1">
            <ul class="navi">
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </div>
        <div class="box1-2">headline</div>
    </div>
    <div class="box2">
        <div class="box2-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eveniet similique eos mollitia illo nesciunt enim ipsum quasi dolor molestiae iste neque, itaque obcaecati, maxime aliquid. Blanditiis maxime dolores sint.</p>
        </div>
        <div class="box2-2">이미지박스</div>
    </div>
    <div class="box3">
        <h2>Title</h2>
        <p>아이콘</p>
        <div>별점세트</div>
    </div>
    <div class="box4">
        <div class="box4-1">이미지박스</div>
        <div class="box4-2">
            <h2>Title</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eveniet similique eos mollitia illo nesciunt enim ipsum quasi dolor molestiae iste neque, itaque obcaecati, maxime aliquid. Blanditiis maxime dolores sint.</p>
        </div>
    </div>
    <div class="box5">
        <h2>Title</h2>
        <p>아이콘</p>
        <div>어워드세트</div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat eveniet similique eos mollitia illo nesciunt enim ipsum quasi dolor molestiae iste neque, itaque obcaecati, maxime aliquid. Blanditiis maxime dolores sint.</p>
        </div>
        <div class="box6-2">이미지박스</div>
    </div>
    <div class="box7">
        <div class="box7-1">
            <h2>Title</h2>
            <div>아이콘세트</div>
        </div>
        <div class="box7-2">
            <ul>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
                <li><a href="#">site</a></li>
            </ul>
        </div>
    </div>

    
</body>
</html>