<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃004</title>
    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout004.css">
    <!-- 그리드가이드연결 -->
    <link rel="stylesheet" href="grid-guide.css">

</head>
<body>

   <!-- <p class="img">
        <img src="https://picsum.photos/id/78/1000/1000" alt="">
        
   </p>
<style>
.img {width: 1000px;
    height: 1000px;
        background-color: red;
        border-radius: 80% 10% 30% 40% / 40% 30% 20% 10%;
        overflow: hidden;}
</style> -->



<header class="box1">
<div class="logo">logo</div>
<div class="nav">메뉴</div>
<div class="util">유틸</div>
</header>
<main id="wrap">
    <div class="box2">
        <div class="hero">
            <div class="txtBox"> 텍스트내용작성</div>
            <div class="imgBox"> 이미지작업</div>
        </div>
    </div>
    <div class="box3">
        <div class="titleBox">
            타이틀정보와 텍스트정보를 기재해주세요
        </div>
        <div class="listBox">
            <div class="listBox1">
                <ul>
                    <li>이미지</li>
                    <li>타이틀</li>
                    <li>해당내용</li>
                </ul>
            </div>
            <div class="lisBox2">
                <ul>
                    <li>이미지</li>
                    <li>타이틀</li>
                    <li>해당내용</li>
                </ul>
            </div>
            <div class="listBox3">
                <ul>
                    <li>이미지</li>
                    <li>타이틀</li>
                    <li>해당내용</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box4">
        <div class="box4-inner">
            <div class="box4-1">
                <div class="title">타이틀정보를기재</div>
                <div class="txt">텍스트의 4줄이상의 내용을 작성</div>
                <div class="btn">
                    <p>버튼제작</p>
                </div>
            </div>
            <div class="box4-2">
                <ul class="listBox">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-inner">
            <div class="titleBox"></div>
            <div class="textBox"></div>
        </div>
    </div>
</main>

</body>
</html>