<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃002</title>

    <!-- 외부스타일시트연결 -->
     <link rel="stylesheet" href="layout002.css">
     <!-- 그리드가이드연결 -->
     <link rel="stylesheet" href="grid-guide.css">
</head>
<body>

<div class="box1">
    <div class="box1-inner">
        <div class="box1-1">메뉴</div>
        <div class="box1-2">유틸</div>
    </div>
</div>
<div class="box2">
    <div class="box2-inner">
        <div class="box2-1">슬로건박스</div>
        <div class="box2-2">이미지박스</div>
        <div class="box2-3">버튼</div>
    </div>
</div>
<div class="box3">
    <div class="box3-inner">박스3</div>
</div>
<div class="box4">
    <div class="box4-inner">
        <h2>Title</h2>
        <ul>
            <li>아이콘1</li>
            <li>아이콘2</li>
            <li>아이콘3</li>
            
        </ul>
    </div>
</div>
<div class="box5">
    <div class="box5-inner">
        <h2>title</h2>
       <div class="box5-imgBox">
            <div>이미지박스1</div>
            <div>이미지박스2</div>
            <div>이미지박스3</div>
       </div>
    </div>
</div>
<div class="box6">
    <div class="box6-inner">
        <div class="box6-1">
            <div>이미지박스</div>
            <div>텍스트박스</div>
        </div>
        <div class="box6-2">
            <div>이미지박스</div>
            <div>텍스트박스</div>
        </div>
        <div class="box6-3">
            <div>이미지박스</div>
            <div>텍스트박스</div>
        </div>
    </div>
</div>
<div class="box7">
    <div class="box7-inner">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magnam voluptatum sapiente, repudiandae saepe rerum. Architecto numquam eum sapiente enim dolor! Praesentium magnam vel tempora molestias voluptatibus consequatur dolorem odit.</p>
        <p>more</p>
    </div>
</div>
<div class="box8">
    <div class="box8-inner">
        <h2>title</h2>
        <div class="container">
            <ul>
                <li>img</li>
                <li>img</li>
                <li>img</li>
            </ul>
        </div>

        <p class="left">left</p>
        <p class="right">right</p>
        
    </div>
</div>
<div class="box9">
    <div class="box9-inner">
        <div class="box9-1">텍스트박스</div>
        <div class="box9-2">맵박스</div>
    </div>
</div>
<div class="box10">
    <div class="box10-inner">
    <div class="box10-1">아이콘박스</div>
    <div class="box10-2">사이트맵</div>
    </div>
</div>
    
</body>
</html>