<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃001</title>

    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout001_1.css">
    <!-- 그리드가이드연결 
    <link rel="stylesheet" href="grid-guide.css">-->
</head>
<body>

    <header class="box1">
        <div class="box1-1">logo</div>
        <nav class="box1-2">
            <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
            </ul>
        </nav>
    </header>
    <div class="box2">Hero</div>
    <div class="box3">
        <div class="box3-inner">
            <p>title</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione blanditiis fugit, dolore amet sapiente, numquam recusandae id eaque dolorem cupiditate praesentium non suscipit voluptatum. Mollitia deserunt omnis dolore sint animi?</p>
        </div>
    </div>
    <section class="box4">
        <div class="box4-inner">
            <article class="box4-1">
                <p>이미지박스</p>
            </article>
            <article class="box4-2">텍스트박스</article>
        </div>
    </section>
    <section class="box5">
        <div class="box5-inner">
            <article class="box5-1"><p>이미지박스1</p></article>
            <article class="box5-2"><p>이미지박스2</p></article>
            <article class="box5-3"><p>이미지박스3</p></article>
        </div>
    </section>
    <div class="box6">
        <p>title</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione blanditiis fugit, dolore amet sapiente, numquam recusandae id eaque dolorem cupiditate praesentium non suscipit voluptatum. Mollitia deserunt omnis dolore sint animi?</p>
    </div>
    <div class="box7">
        <p>title</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione blanditiis fugit, dolore amet sapiente, numquam recusandae id eaque dolorem cupiditate praesentium non suscipit voluptatum. Mollitia deserunt omnis dolore sint animi?</p>
    </div>
    <div class="box8">
        <div class="box8-inner">
            <div class="box8-1">siteMap</div>
            <div class="box8-2">bottom_logo</div>
            <div class="box8-3">contactBox</div>
        </div>
    </div>
    
</body>
</html>