<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃003</title>

    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout003.css">
    <!-- 그리드가이드연결 -->
    <link rel="stylesheet" href="grid-guide.css">
</head>
<body>

    <div class="box1">
        <div class="box1-1 logo ">
            <h1>logo</h1>
        </div>
        <div class="box1-2 gnb">
            <ul>
                <li><a href="#">mene1</a></li>
                <li><a href="#">mene2</a></li>
                <li><a href="#">mene3</a></li>
                <li><a href="#">mene4</a></li>
                <li><a href="#">mene5</a></li>
                <li><a href="#">mene6</a></li>
                <li><a href="#">mene7</a></li>
                <li><a href="#">mene8</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="hero">
            <div class="txtBox">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                <p>amet consectetur adipisicing </p>
            </div>
            <div class="imgBox">
                이미지넣어주세요
            </div>
        </div>
        <div class="localMenu">
            <a href="#">
                <div class="menu1">
                    <p>adipisicing</p>
                    <span>more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu2">
                    <p>consectetur</p>
                    <span>more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu3">
                    <p>sit amet</p>
                    <span>more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu4">
                    <p>elit</p>
                    <span>more</span>
                </div>
            </a>
        </div>
    </div>
    <div class="box3">
        <article class="box3-1">
            <h1>title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sed reiciendis obcaecati cumque eum. Aliquam minima reprehenderit itaque blanditiis eum consequuntur praesentium impedit voluptatibus exercitationem</p>

        </article>
        <div class="box3-2">
            <div class="imgBox">
                이미지넣어주세요
            </div>
            <div class="listBox">
                <ul>
                    <li><a href="#">
                        <img src="" alt="">
                        <strong>title</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </a></li>
                    <li><a href="#">
                        <img src="" alt="">
                        <strong>title</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </a></li>
                </ul>

            </div>

        </div>
    </div>
    <div class="box4">
        <h2>Title</h2>
        <div class="box4-1">
            <div class="listBox">
                <ul>
                    <li>이미지와설명</li>
                    <li>이미지와설명</li>
                    <li>이미지와설명</li>
                    <li>이미지와설명</li>
                </ul>
            </div>
            <div class="imgBox">
                <ul> <!--ul의 크기값(가로,세로)을 설정을 한후 relative를 준다
                    li를 모든 아이들을 똑같이 같은구간에 붙여놓는다. 4번의 이미지가 보이는게 맞다-->
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-1">
            <div class="title">title</div>
            <div class="listBox">
                <ul>
                    <li>리스트</li>
                    <li>리스트</li>
                </ul>
            </div>
            <div class="btnBox">
                <p>button</p>
                <p>button</p>
            </div>
        </div>
        <div class="box5-2">
            이미지를 넣어주세요

        </div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <strong>title</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio ipsum totam.</p>
        </div>
        <div class="box6-2">
            이미지를 넣어주세요
        </div>
        <div class="box6-3">
            <strong>title</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio ipsum totam.</p>
        
        </div>
    </div>
    <div class="box7">
        <div class="box7-1">
            <div class="container">
                이미지를 넣어주세요
            </div>
            <p class="left">L</p>
            <p class="right">R</p>
        
        </div>
        <div class="box7-2">
            <div class="trailer">
                <ul>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                </ul>
            </div>

        </div>

    </div>
    <div class="box8">
        <div class="box8-1">
            이미지박스
        </div>
        <div class="box8-2">
            텍스트박스
        </div>
    </div>
    <div class="box9">
        <div class="box9-1">텍스트박스</div>
        <div class="box9-2">input박스</div>
    </div>
    <div class="box10">
        <div class="box10-1">bottomLogo</div>
        <div class="box10-2">sitemap</div>
    </div>
    

</body>
</html>