/* 언어설정 */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* reset */

* {margin: 0;
padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}

    div {overflow: hidden;}
    h2 {color: #ff6f3c;}

    /*박스1설정*/
.box1 {background-image: url(https://museumnews.kr/wp-content/uploads/2016/08/2.jpg);
    background-position:center center;
    background-size: cover;}
.box1-1 {}
.navi {display: flex;}
.navi li {}
.navi a {display: block;
padding: 10px;}
.box1-2 {height: 60vh;
    
    font-size: 60px;

font-family: 'Gugi', sans-serif;
color: #fff;
display: flex;
justify-content: center;
align-items: center;}


    /* 박스2설정 */
    .box2 {display: flex;
    height: 50vh;}
    .box2>div {width: 50%;
    box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;}
.box2-1 {padding: 30px 20px}
.box2-1 h2 {margin-bottom: 20px;
color: #ff6f3c;}
.box2-1 p {width:60%;
color: #155263;}
.box2-2 {height: 100%;
    background-color: #777;
}
.box2-2 img{width: 100%;
    transform: translateY(-20px);}
    /* 박스3설정 */

    .box3 {padding: 20px;
        background-image: url(https://ak-d.tripcdn.com/images/0102722155o5u6lyoF78A.jpg);
        background-attachment: fixed;
    text-align: center;}
    .box3 h2 {margin-bottom: 10px;}
    .box3 p {margin-bottom: 50px;}
    .box3>div {}

    /* 박스4설정 */
    .box4 {display: flex;
            height: 250px;}
    .box4 .box4-1{width: 40%;}
    .box4 .box4-2 {width: 60%;}
    .box4>div {
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;}
    .box4-2 {padding: 30px 20px}
    .box4-2 h2 {margin-bottom: 20px;}
    .box4-2 p {width:60%;}
    .box4-1 {height: 100%;
        background-color: #777;}
        .box4 img{width: 100%;}

/* 박스5설정 */
.box5 {padding: 20px;
    background-color:#155263;
text-align: center;
color: #fff;}
.box5 h2 {margin-bottom: 10px;}
.box5 p {margin-bottom: 50px;}
.box5>div {}

/* 박스6설정 */
.box6 {display: flex;

height: 250px;}
.box6 .box6-1 {width:60% ;}
.box6 .box6-2 {width: 40%;}
.box6>div {
    box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;}
.box6-1 {padding: 30px 20px}
.box6-1 h2 {margin-bottom: 20px;}
.box6-1 p {width:60%;}
.box6-2 {height: 100%;
    background-color: #777;}

/* 박스7설정 */

.box7 {background-color: #000;
color: #fff;
padding: 20px;}
.box7-1 {text-align: center;
margin-bottom: 20px;}
.box7-1 h2 {margin-bottom: 10px;}
.box7-1>div {}

.box7-2 {}
.box7-2>ul {display: flex;
justify-content: flex-end;}
.box7-2>ul>li {}
.box7-2 a {color: #fff;
display: block;
padding: 10px;}
